.item-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.product-box {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

.product-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.product-box img {
  width: 80%;
  max-width: 150px;
  margin-bottom: 10px;
}

.product-box h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 80%;
}

.size-text {
    margin-right: 5px;
}